Repository TeamARtique/ARtique-iOS, pull requests merged in 2022-04, with the labels that each got.

#34 [CHORE] 전시 상세화면 디자인 수정
  ARtique/ARtique/Global/Extension/UIButton+.swift
  ARtique/ARtique/Global/Extension/UILabel+.swift
  ARtique/ARtique/Global/Extension/UINavigationController+.swift
  ARtique/ARtique/Screen/Home/Controller/DetailVC.swift
  ARtique/ARtique/Screen/Home/Storyboard/Detail.storyboard
  ARtique/ARtique/Support/Assets.xcassets/Delete.imageset/Contents.json
  ARtique/ARtique/Support/Assets.xcassets/Delete.imageset/Delete.png
  ARtique/ARtique/Support/Assets.xcassets/Edit.imageset/Contents.json
  ARtique/ARtique/Support/Assets.xcassets/Edit.imageset/Edit.png
Labels: 📱 View, 🏠 홈탭, ☁️ 윤경

#36 Feat/#35 mypage UI
  ARtique/ARtique.xcodeproj/project.pbxproj
  ARtique/ARtique/Global/Factory/TypeOfViewController.swift
  ARtique/ARtique/Global/Struct/Identifiers.swift
  ARtique/ARtique/Screen/Home/Cell/TVC/AllTVC.swift
  ARtique/ARtique/Screen/Mypage/Cell/CVC/e.swift
  ARtique/ARtique/Screen/Mypage/Cell/TVC/MyExhibitionTVC.swift
  ARtique/ARtique/Screen/Mypage/Cell/TVC/MypageClassificationTVC.swift
  ARtique/ARtique/Screen/Mypage/Cell/TVC/f.swift
  ARtique/ARtique/Screen/Mypage/Controller/MypageNC.swift
  ARtique/ARtique/Screen/Mypage/Controller/MypageVC.swift
  ARtique/ARtique/Screen/Mypage/Storyboard/Mypage.storyboard
  ARtique/ARtique/Screen/Shared/ExhibitionCVC.swift
  ARtique/ARtique/Screen/Shared/ExhibitionCVC.xib
  ARtique/ARtique/Support/Assets.xcassets/Alarm.imageset/Alarm.png
  ARtique/ARtique/Support/Assets.xcassets/Alarm.imageset/Contents.json
  ARtique/ARtique/Support/Assets.xcassets/Edit_Circle.imageset/Contents.json
  ARtique/ARtique/Support/Assets.xcassets/Edit_Circle.imageset/Edit_Circle.png
Labels: 📱 View, 🍎 Feature, ☁️ 윤경, 🤗 마이페이지탭

#39 [FEAT] 카카오 로그인 구현 (클라이언트) 및 갤러리 모델 수정
  ARtique/ARtique.xcodeproj/project.pbxproj
  ARtique/ARtique/Global/Extension/UIButton+.swift
  ARtique/ARtique/Global/Extension/UIFont+.swift
  ARtique/ARtique/Global/Extension/UIView+.swift
  ARtique/ARtique/Global/Extension/UIViewController+.swift
  ARtique/ARtique/Screen/ARGallery/Controller/ARGalleryVC.swift
  ARtique/ARtique/Screen/Login/Controller/LoginVC.swift
  ARtique/ARtique/Screen/TabBar/Controller/ARtiqueTBC.swift
  ARtique/ARtique/Support/AppDelegate.swift
  ARtique/ARtique/Support/Assets.xcassets/Rectangle 146.imageset/Contents.json
  ARtique/ARtique/Support/Assets.xcassets/Rectangle 146.imageset/Rectangle 146.png
  ARtique/ARtique/Support/Assets.xcassets/Rectangle 146.imageset/Rectangle 146@2x.png
  ARtique/ARtique/Support/Assets.xcassets/Rectangle 146.imageset/Rectangle 146@3x.png
  ARtique/ARtique/Support/Assets.xcassets/appleLogin.imageset/Contents.json
  ARtique/ARtique/Support/Assets.xcassets/appleLogin.imageset/Group 93.png
  ARtique/ARtique/Support/Assets.xcassets/appleLogin.imageset/Group 93@2x.png
  ARtique/ARtique/Support/Assets.xcassets/appleLogin.imageset/Group 93@3x.png
  ARtique/ARtique/Support/Assets.xcassets/kakaoLogin.imageset/Contents.json
  ARtique/ARtique/Support/Assets.xcassets/kakaoLogin.imageset/Group 92.png
  ARtique/ARtique/Support/Assets.xcassets/kakaoLogin.imageset/Group 92@2x.png
  ARtique/ARtique/Support/Assets.xcassets/kakaoLogin.imageset/Group 92@3x.png
  ARtique/ARtique/Support/Assets.xcassets/tab_home.imageset/Contents.json
  ARtique/ARtique/Support/Assets.xcassets/tab_home.imageset/tab_person.png
  ARtique/ARtique/Support/Assets.xcassets/tab_home.imageset/tab_person@2x.png
  ARtique/ARtique/Support/Assets.xcassets/tab_home.imageset/tab_person@3x.png
  ARtique/ARtique/Support/Assets.xcassets/untab_home.imageset/Contents.json
  ARtique/ARtique/Support/Assets.xcassets/untab_home.imageset/home_unselected.png
  ARtique/ARtique/Support/Assets.xcassets/untab_home.imageset/home_unselected@2x.png
  ARtique/ARtique/Support/Assets.xcassets/untab_home.imageset/home_unselected@3x.png
  ARtique/ARtique/Support/Assets.xcassets/wood.imageset/Contents.json
  ARtique/ARtique/Support/Assets.xcassets/wood.imageset/wood.png
  ARtique/ARtique/Support/Info.plist
  ARtique/ARtique/art.scnassets/DummyAsset/container.png
  ARtique/ARtique/art.scnassets/DummyAsset/wood.png
  ARtique/ARtique/art.scnassets/GalleryModel/minimumGallery.scn
  ARtique/Podfile
  ARtique/Podfile.lock
  ARtique/Pods/Manifest.lock
  ARtique/Pods/Pods.xcodeproj/project.pbxproj
  ARtique/Pods/Pods.xcodeproj/xcuserdata/hwangji.xcuserdatad/xcschemes/xcschememanagement.plist
  ARtique/Pods/Target Support Files/Pods-ARtique/Pods-ARtique-acknowledgements.markdown
  ARtique/Pods/Target Support Files/Pods-ARtique/Pods-ARtique-acknowledgements.plist
  ARtique/Pods/Target Support Files/Pods-ARtique/Pods-ARtique-frameworks-Debug-input-files.xcfilelist
  ARtique/Pods/Target Support Files/Pods-ARtique/Pods-ARtique-frameworks-Debug-output-files.xcfilelist
  ARtique/Pods/Target Support Files/Pods-ARtique/Pods-ARtique-frameworks-Release-input-files.xcfilelist
  ARtique/Pods/Target Support Files/Pods-ARtique/Pods-ARtique-frameworks-Release-output-files.xcfilelist
  ARtique/Pods/Target Support Files/Pods-ARtique/Pods-ARtique-frameworks.sh
  ARtique/Pods/Target Support Files/Pods-ARtique/Pods-ARtique.debug.xcconfig
  ARtique/Pods/Target Support Files/Pods-ARtique/Pods-ARtique.release.xcconfig
Labels: 🍎 Feature, ☁️ 지은

#40 Feat/#31 artwork select view
  ARtique/ARtique.xcodeproj/project.pbxproj
  ARtique/ARtique/Global/Extension/Notification+Name.swift
  ARtique/ARtique/Global/Extension/PHFetchOptions+.swift
  ARtique/ARtique/Global/Font/AppleSDGothicNeoL.ttf
  ARtique/ARtique/Global/Struct/Identifiers.swift
  ARtique/ARtique/Global/ko.lproj/LaunchScreen.strings
  ARtique/ARtique/Screen/Add/Cell/CVC/AlbumTVC.swift
  ARtique/ARtique/Screen/Add/Cell/CVC/AlbumTVC.xib
  ARtique/ARtique/Screen/Add/Controller/AddExhibitionVC.swift
  ARtique/ARtique/Screen/Add/Controller/AlbumListTVC.swift
  ARtique/ARtique/Screen/Add/Storyboard/AlbumListTVC.storyboard
  ARtique/ARtique/Screen/Add/Xib/ArtworkSelectView.xib
  ARtique/ARtique/Screen/Add/XibController/ArtworkSelectView.swift
  ARtique/Podfile
  ARtique/Podfile.lock
  ARtique/Pods/Manifest.lock
  ARtique/Pods/Pods.xcodeproj/project.pbxproj
  ARtique/Pods/Target Support Files/Pods-ARtique/Pods-ARtique-acknowledgements.markdown
  ARtique/Pods/Target Support Files/Pods-ARtique/Pods-ARtique-acknowledgements.plist
  ARtique/Pods/Target Support Files/Pods-ARtique/Pods-ARtique-frameworks-Debug-input-files.xcfilelist
  ARtique/Pods/Target Support Files/Pods-ARtique/Pods-ARtique-frameworks-Debug-output-files.xcfilelist
  ARtique/Pods/Target Support Files/Pods-ARtique/Pods-ARtique-frameworks-Release-input-files.xcfilelist
  ARtique/Pods/Target Support Files/Pods-ARtique/Pods-ARtique-frameworks-Release-output-files.xcfilelist
  ARtique/Pods/Target Support Files/Pods-ARtique/Pods-ARtique-frameworks.sh
  ARtique/Pods/Target Support Files/Pods-ARtique/Pods-ARtique.debug.xcconfig
  ARtique/Pods/Target Support Files/Pods-ARtique/Pods-ARtique.release.xcconfig
Labels: 📱 View, 🍎 Feature, ☁️ 윤경, ✏️ 작성하기탭

#43 [FEAT] exhibition list view UI
  ARtique/ARtique.xcodeproj/project.pbxproj
  ARtique/ARtique/Global/Extension/Notification+Name.swift
  ARtique/ARtique/Global/Factory/TypeOfViewController.swift
  ARtique/ARtique/Global/Struct/Identifiers.swift
  ARtique/ARtique/Screen/Home/Cell/CVC/HomeHorizontalCVC.swift
  ARtique/ARtique/Screen/Home/Cell/TVC/HomeHorizontalTVC.swift
  ARtique/ARtique/Screen/Home/Cell/TVC/HomeVerticalTVC.swift
  ARtique/ARtique/Screen/Home/Controller/HomeListVC.swift
  ARtique/ARtique/Screen/Home/Controller/HomeVC.swift
  ARtique/ARtique/Screen/Home/Controller/ReorderBottomSheetVC.swift
  ARtique/ARtique/Screen/Home/Storyboard/HomeList.storyboard
  ARtique/ARtique/Screen/Mypage/Cell/TVC/ReorderTVC.swift
  ARtique/ARtique/Screen/Mypage/Cell/TVC/ReorderTVC.xib
  ARtique/ARtique/Screen/Mypage/Controller/MypageVC.swift
  ARtique/ARtique/Screen/Shared/ExhibitionList.storyboard
  ARtique/ARtique/Screen/Shared/ExhibitionListVC.swift
  ARtique/ARtique/Support/Assets.xcassets/CheckMark.imageset/CheckMark.png
  ARtique/ARtique/Support/Assets.xcassets/CheckMark.imageset/Contents.json
  ARtique/ARtique/Support/Assets.xcassets/Reorder.imageset/Contents.json
  ARtique/ARtique/Support/Assets.xcassets/Reorder.imageset/Reorder.png
  ARtique/Podfile
  ARtique/Podfile.lock
  ARtique/Pods/Manifest.lock
  ARtique/Pods/Pods.xcodeproj/project.pbxproj
  ARtique/Pods/Target Support Files/Pods-ARtique/Pods-ARtique-acknowledgements.markdown
  ARtique/Pods/Target Support Files/Pods-ARtique/Pods-ARtique-acknowledgements.plist
  ARtique/Pods/Target Support Files/Pods-ARtique/Pods-ARtique-frameworks-Debug-input-files.xcfilelist
  ARtique/Pods/Target Support Files/Pods-ARtique/Pods-ARtique-frameworks-Debug-output-files.xcfilelist
  ARtique/Pods/Target Support Files/Pods-ARtique/Pods-ARtique-frameworks-Release-input-files.xcfilelist
  ARtique/Pods/Target Support Files/Pods-ARtique/Pods-ARtique-frameworks-Release-output-files.xcfilelist
  ARtique/Pods/Target Support Files/Pods-ARtique/Pods-ARtique-frameworks.sh
  ARtique/Pods/Target Support Files/Pods-ARtique/Pods-ARtique.debug.xcconfig
  ARtique/Pods/Target Support Files/Pods-ARtique/Pods-ARtique.release.xcconfig
Labels: 📱 View, 🍎 Feature, 🏠 홈탭, ☁️ 윤경, 🤗 마이페이지탭

#45 [FEAT] 검색뷰 UI
  ARtique/ARtique.xcodeproj/project.pbxproj
  ARtique/ARtique/Global/Class/CollectionViewLeftAlignFlowLayout.swift
  ARtique/ARtique/Global/Struct/Identifiers.swift
  ARtique/ARtique/Screen/Home/Cell/CVC/LatestSearchedCVC.swift
  ARtique/ARtique/Screen/Home/Controller/HomeVC.swift
  ARtique/ARtique/Screen/Home/Controller/SearchResultVC.swift
  ARtique/ARtique/Screen/Home/Controller/SearchVC.swift
  ARtique/ARtique/Screen/Home/Storyboard/Home.storyboard
  ARtique/ARtique/Screen/Home/Storyboard/Search.storyboard
  ARtique/ARtique/Screen/Home/Storyboard/SearchResult.storyboard
  ARtique/ARtique/Support/Assets.xcassets/Search.imageset/Contents.json
Labels: 📱 View, 🍎 Feature, 🏠 홈탭, ☁️ 윤경

#47 [ADD] 마이페이지 UI 수정 및 기능 추가
  ARtique/ARtique.xcodeproj/project.pbxproj
  ARtique/ARtique/Global/Extension/UIColor+Additions.swift
  ARtique/ARtique/Global/Struct/Identifiers.swift
  ARtique/ARtique/Screen/Add/XibController/ArtworkListView.swift
  ARtique/ARtique/Screen/Add/XibController/ArtworkSelectView.swift
  ARtique/ARtique/Screen/Add/XibController/ExhibitionExplainView.swift
  ARtique/ARtique/Screen/Add/XibController/OrderView.swift
  ARtique/ARtique/Screen/Home/Cell/CVC/AllCVC.swift
  ARtique/ARtique/Screen/Home/Cell/CVC/HomeHorizontalCVC.swift
  ARtique/ARtique/Screen/Home/Cell/TVC/HomeHorizontalTVC.swift
  ARtique/ARtique/Screen/Home/Cell/TVC/HomeVerticalTVC.swift
  ARtique/ARtique/Screen/Home/Controller/DetailVC.swift
  ARtique/ARtique/Screen/Home/Controller/HomeListVC.swift
  ARtique/ARtique/Screen/Home/Controller/SearchResultVC.swift
  ARtique/ARtique/Screen/Home/Storyboard/Detail.storyboard
  ARtique/ARtique/Screen/Mypage/Cell/TVC/MyExhibitionTVC.swift
  ARtique/ARtique/Screen/Mypage/Controller/MypageVC.swift
  ARtique/ARtique/Screen/Mypage/Controller/NoneExhibitionVC.swift
  ARtique/ARtique/Screen/Mypage/Controller/ProfileEditVC.swift
  ARtique/ARtique/Screen/Mypage/Storyboard/Mypage.storyboard
  ARtique/ARtique/Screen/Mypage/Storyboard/NoneExhibition.storyboard
  ARtique/ARtique/Screen/Mypage/Storyboard/ProfileEdit.storyboard
  ARtique/ARtique/Screen/Mypage/Xib/ExhibitionCntBtn.swift
  ARtique/ARtique/Screen/Shared/ExhibitionCVC.swift
  ARtique/ARtique/Screen/Shared/ExhibitionListVC.swift
Labels: 📱 View, ☁️ 윤경, 🤗 마이페이지탭

#51 [FEAT] Moya 세팅 및 카카오로그인 서버 연결, 자동로그인 구현
  ARtique/ARtique.xcodeproj/project.pbxproj
  ARtique/ARtique/Global/Class/BaseVC.swift
  ARtique/ARtique/Global/Class/CollectionView/CollectionViewLeftAlignFlowLayout.swift
  ARtique/ARtique/Global/Class/TokenInfo.swift
  ARtique/ARtique/Global/Enum/NaviType.swift
  ARtique/ARtique/Global/Extension/String+.swift
  ARtique/ARtique/Global/Extension/UIViewController+.swift
  ARtique/ARtique/Global/Extension/UserDefaults+.swift
  ARtique/ARtique/Global/Struct/Navigator.swift
  ARtique/ARtique/Network/APIManagers/AuthAPI.swift
  ARtique/ARtique/Network/APIManagers/BaseAPI.swift
  ARtique/ARtique/Network/APIModels/GenericResponse.swift
  ARtique/ARtique/Network/APIModels/Models/Login/LoginDataModel.swift
  ARtique/ARtique/Network/APIModels/Models/Public/Bookmark.swift
  ARtique/ARtique/Network/APIModels/Models/Public/Like.swift
  ARtique/ARtique/Network/APIModels/Models/Public/Token.swift
  ARtique/ARtique/Network/APIServices/APIConstants.swift
  ARtique/ARtique/Network/APIServices/NetworkResult.swift
  ARtique/ARtique/Network/MoyaTarget/AuthService.swift
  ARtique/ARtique/Network/NetworkLoggerPlugin.swift
  ARtique/ARtique/Screen/Home/Controller/HomeListVC.swift
  ARtique/ARtique/Screen/Login/Controller/LoginVC.swift
  ARtique/ARtique/Support/AppDelegate.swift
  ARtique/Podfile
  ARtique/Podfile.lock
  ARtique/Pods/Alamofire/README.md
  ARtique/Pods/Alamofire/Source/Alamofire.swift
  ARtique/Pods/Alamofire/Source/AuthenticationInterceptor.swift
  ARtique/Pods/Alamofire/Source/CachedResponseHandler.swift
  ARtique/Pods/Alamofire/Source/Combine.swift
  ARtique/Pods/Alamofire/Source/HTTPHeaders.swift
  ARtique/Pods/Alamofire/Source/MultipartUpload.swift
  ARtique/Pods/Alamofire/Source/ParameterEncoder.swift
  ARtique/Pods/Alamofire/Source/ParameterEncoding.swift
  ARtique/Pods/Alamofire/Source/Protected.swift
  ARtique/Pods/Alamofire/Source/RedirectHandler.swift
  ARtique/Pods/Alamofire/Source/Request.swift
  ARtique/Pods/Alamofire/Source/RequestInterceptor.swift
  ARtique/Pods/Alamofire/Source/Response.swift
  ARtique/Pods/Alamofire/Source/ResponseSerialization.swift
  ARtique/Pods/Alamofire/Source/RetryPolicy.swift
  ARtique/Pods/Alamofire/Source/ServerTrustEvaluation.swift
  ARtique/Pods/Alamofire/Source/Session.swift
  ARtique/Pods/Alamofire/Source/URLEncodedFormEncoder.swift
  ARtique/Pods/Alamofire/Source/Validation.swift
  ARtique/Pods/Manifest.lock
  ARtique/Pods/Pods.xcodeproj/project.pbxproj
  ARtique/Pods/Pods.xcodeproj/xcuserdata/hwangji.xcuserdatad/xcschemes/xcschememanagement.plist
  ARtique/Pods/Target Support Files/Alamofire/Alamofire-Info.plist
  ARtique/Pods/Target Support Files/Pods-ARtique/Pods-ARtique-acknowledgements.markdown
  ARtique/Pods/Target Support Files/Pods-ARtique/Pods-ARtique-acknowledgements.plist
  ARtique/Pods/Target Support Files/Pods-ARtique/Pods-ARtique-frameworks-Debug-input-files.xcfilelist
  ARtique/Pods/Target Support Files/Pods-ARtique/Pods-ARtique-frameworks-Debug-output-files.xcfilelist
  ARtique/Pods/Target Support Files/Pods-ARtique/Pods-ARtique-frameworks-Release-input-files.xcfilelist
  ARtique/Pods/Target Support Files/Pods-ARtique/Pods-ARtique-frameworks-Release-output-files.xcfilelist
  ARtique/Pods/Target Support Files/Pods-ARtique/Pods-ARtique-frameworks.sh
  ARtique/Pods/Target Support Files/Pods-ARtique/Pods-ARtique.debug.xcconfig
  ARtique/Pods/Target Support Files/Pods-ARtique/Pods-ARtique.release.xcconfig
Labels: 📡 Network, 🍎 Feature, ☁️ 지은

#50 [CHORE] home design edit
  ARtique/ARtique.xcodeproj/project.pbxproj
  ARtique/ARtique/Global/Enum/CategoryType.swift
  ARtique/ARtique/Global/Extension/UIColor+Additions.swift
  ARtique/ARtique/Global/Extension/UITextView+.swift
  ARtique/ARtique/Global/Struct/Identifiers.swift
  ARtique/ARtique/Screen/Add/Cell/CVC/ArtworkExplainCVC.swift
  ARtique/ARtique/Screen/Add/Controller/AddExhibitionVC.swift
  ARtique/ARtique/Screen/Add/XibController/ExhibitionExplainView.swift
  ARtique/ARtique/Screen/Add/XibController/OrderView.swift
  ARtique/ARtique/Screen/Add/XibController/PostExplainView.swift
  ARtique/ARtique/Screen/Home/Cell/CVC/AllCVC.swift
  ARtique/ARtique/Screen/Home/Cell/CVC/HomeHorizontalCVC.swift
  ARtique/ARtique/Screen/Home/Cell/TVC/HomeHorizontalTVC.swift
  ARtique/ARtique/Screen/Home/Cell/TVC/HomeVerticalTVC.swift
  ARtique/ARtique/Screen/Home/Controller/HomeListVC.swift
  ARtique/ARtique/Screen/Home/Controller/HomeVC.swift
  ARtique/ARtique/Screen/Home/Controller/ReorderBottomSheetVC.swift
  ARtique/ARtique/Screen/Home/Controller/SearchResultVC.swift
  ARtique/ARtique/Screen/Home/Controller/SearchVC.swift
  ARtique/ARtique/Screen/Home/Storyboard/Detail.storyboard
  ARtique/ARtique/Screen/Home/Storyboard/Home.storyboard
  ARtique/ARtique/Screen/Home/Storyboard/HomeList.storyboard
  ARtique/ARtique/Screen/Mypage/Controller/ProfileEditVC.swift
  ARtique/ARtique/Screen/Shared/ExhibitionCVC.swift
  ARtique/ARtique/Screen/Shared/ExhibitionCVC.xib
  ARtique/ARtique/Screen/Shared/ExhibitionListVC.swift
  ARtique/ARtique/Screen/TabBar/Controller/ARtiqueTBC.swift
  ARtique/ARtique/Support/Assets.xcassets/Add_Default.imageset/Add_Default.png
  ARtique/ARtique/Support/Assets.xcassets/Add_Default.imageset/Add_Default_.png
  ARtique/ARtique/Support/Assets.xcassets/Add_Default.imageset/Contents.json
  ARtique/ARtique/Support/Assets.xcassets/Add_Default_.imageset/Contents.json
Labels: 📱 View, 🏠 홈탭, ☁️ 윤경
