Repository TeamARtique/ARtique-iOS, pull requests merged in 2022-05, with the labels that each got.

#54 [FIX]: 설치 시 갤러리 접근 권한 오류 해결
  ARtique/ARtique.xcodeproj/project.pbxproj
  ARtique/ARtique/Screen/TabBar/Controller/ARtiqueTBC.swift
  ARtique/Pods/Pods.xcodeproj/project.pbxproj
Labels: 🐞 Bug, ☁️ 윤경, ⚡️ HotFix

#57 [CHORE] 등록 프로세스 디자인 수정
  ARtique/ARtique.xcodeproj/project.pbxproj
  ARtique/ARtique/Global/Enum/AddProcess.swift
  ARtique/ARtique/Global/Enum/TagType.swift
  ARtique/ARtique/Global/Enum/ThemeType.swift
  ARtique/ARtique/Global/Extension/Notification+Name.swift
  ARtique/ARtique/Global/Extension/UINavigationController+.swift
  ARtique/ARtique/Global/Extension/UITextField+.swift
  ARtique/ARtique/Global/Extension/UITextView+.swift
  ARtique/ARtique/Global/Struct/Identifiers.swift
  ARtique/ARtique/Screen/Add/Cell/CVC/ArtworkExplainCVC.swift
  ARtique/ARtique/Screen/Add/Cell/CVC/ArtworkExplainCVC.xib
  ARtique/ARtique/Screen/Add/Cell/CVC/BorderCVC.swift
  ARtique/ARtique/Screen/Add/Cell/CVC/GalleryCVC.swift
  ARtique/ARtique/Screen/Add/Cell/CVC/RoundCVC.swift
  ARtique/ARtique/Screen/Add/Cell/CVC/SelectedImageCVC.swift
  ARtique/ARtique/Screen/Add/Cell/CVC/SelectedImageCVC.xib
  ARtique/ARtique/Screen/Add/Cell/CVC/ThemeCVC.swift
  ARtique/ARtique/Screen/Add/Cell/CVC/ThemeCVC.xib
  ARtique/ARtique/Screen/Add/Controller/AddExhibitionVC.swift
  ARtique/ARtique/Screen/Add/Storyboard/AddExhibition.storyboard
  ARtique/ARtique/Screen/Add/Xib/ArtworkListView.xib
  ARtique/ARtique/Screen/Add/Xib/ArtworkSelectView.xib
  ARtique/ARtique/Screen/Add/Xib/ExhibitionExplainView.xib
  ARtique/ARtique/Screen/Add/Xib/OrderView.xib
  ARtique/ARtique/Screen/Add/Xib/PostExplainView.xib
  ARtique/ARtique/Screen/Add/Xib/ThemeView.xib
  ARtique/ARtique/Screen/Add/XibController/ArtworkListView.swift
  ARtique/ARtique/Screen/Add/XibController/ArtworkSelectView.swift
  ARtique/ARtique/Screen/Add/XibController/ExhibitionExplainView.swift
  ARtique/ARtique/Screen/Add/XibController/OrderView.swift
  ARtique/ARtique/Screen/Add/XibController/PostExplainView.swift
  ARtique/ARtique/Screen/Add/XibController/ThemeView.swift
  ARtique/ARtique/Screen/Mypage/Controller/ProfileEditVC.swift
  ARtique/ARtique/Screen/Shared/Alert.storyboard
  ARtique/ARtique/Screen/Shared/ExhibitionListVC.swift
  ARtique/ARtique/Support/Assets.xcassets/Change.imageset/Change.png
  ARtique/ARtique/Support/Assets.xcassets/Change.imageset/Contents.json
  ARtique/ARtique/Support/Assets.xcassets/NextBtn.imageset/Contents.json
  ARtique/ARtique/Support/Assets.xcassets/NextBtn.imageset/NextBtn.png
  ARtique/ARtique/Support/Assets.xcassets/Theme1.imageset/Theme1.png
  ARtique/ARtique/Support/Assets.xcassets/Theme2.imageset/Theme2.png
  ARtique/ARtique/Support/Assets.xcassets/Theme3.imageset/Theme3.png
  ARtique/ARtique/Support/Assets.xcassets/Theme4.imageset/Theme4.png
Labels: 📱 View, ☁️ 윤경, ✏️ 작성하기탭

#59 [CHORE] 전시 상세 화면 디자인 수정
  ARtique/ARtique.xcodeproj/project.pbxproj
  ARtique/ARtique/Global/Class/BaseVC.swift
  ARtique/ARtique/Global/Struct/ExhibitionData.swift
  ARtique/ARtique/Screen/Add/Controller/AddExhibitionVC.swift
  ARtique/ARtique/Screen/Home/Cell/TVC/HomeHorizontalTVC.swift
  ARtique/ARtique/Screen/Home/Cell/TVC/HomeVerticalTVC.swift
  ARtique/ARtique/Screen/Home/Controller/DetailVC.swift
  ARtique/ARtique/Screen/Home/Controller/HomeListVC.swift
  ARtique/ARtique/Screen/Home/Controller/SearchResultVC.swift
  ARtique/ARtique/Screen/Home/Controller/SearchVC.swift
  ARtique/ARtique/Screen/Home/Storyboard/Detail.storyboard
  ARtique/ARtique/Screen/Mypage/Controller/MypageVC.swift
  ARtique/ARtique/Screen/Mypage/Controller/NoneExhibitionVC.swift
  ARtique/ARtique/Screen/Mypage/Controller/ProfileEditVC.swift
  ARtique/ARtique/Screen/Shared/ExhibitionListVC.swift
Labels: 📱 View, 🏠 홈탭, ☁️ 윤경

#61 [FEAT] AR 전시관 테마 분기처리 및 서버 연결
  ARtique/ARtique.xcodeproj/project.pbxproj
  ARtique/ARtique/Global/Enum/GalleryType.swift
  ARtique/ARtique/Global/Enum/ThemeType.swift
  ARtique/ARtique/Global/Extension/UIColor+Additions.swift
  ARtique/ARtique/Global/Extension/UIIImage+.swift
  ARtique/ARtique/Global/Struct/Identifiers.swift
  ARtique/ARtique/Network/APIManagers/GalleryAPI.swift
  ARtique/ARtique/Network/APIModels/Models/ARGallery/ARGalleryDataModel.swift
  ARtique/ARtique/Network/APIModels/Models/Public/Artwork.swift
  ARtique/ARtique/Network/APIModels/Models/Public/Gallery.swift
  ARtique/ARtique/Network/MoyaTarget/GalleryService.swift
  ARtique/ARtique/Screen/ARGallery/Controller/ARGalleryVC.swift
  ARtique/ARtique/Screen/Add/XibController/ThemeView.swift
  ARtique/ARtique/art.scnassets/GalleryAsset/container.png
  ARtique/ARtique/art.scnassets/GalleryAsset/wood.png
  ARtique/ARtique/art.scnassets/GalleryModel/maximumGallery.scn
  ARtique/ARtique/art.scnassets/GalleryModel/mediumGallery.scn
  ARtique/ARtique/art.scnassets/GalleryModel/minimumGallery.scn
Labels: 📡 Network, 🍎 Feature, ☁️ 지은, AR🎮, 🖼 전시뷰

#62 [FIX] 전시 등록 프로세스 버그 수정
  ARtique/ARtique/Global/Class/NewExhibition.swift
  ARtique/ARtique/Global/Extension/Notification+Name.swift
  ARtique/ARtique/Global/Extension/UIScrollView+.swift
  ARtique/ARtique/Global/Extension/UIView+.swift
  ARtique/ARtique/Screen/Add/Cell/CVC/ArtworkExplainCVC.swift
  ARtique/ARtique/Screen/Add/Cell/CVC/ArtworkExplainCVC.xib
  ARtique/ARtique/Screen/Add/Cell/CVC/GalleryCVC.swift
  ARtique/ARtique/Screen/Add/Controller/AddExhibitionVC.swift
  ARtique/ARtique/Screen/Add/Xib/ArtworkSelectView.xib
  ARtique/ARtique/Screen/Add/Xib/PostExplainView.xib
  ARtique/ARtique/Screen/Add/XibController/ArtworkSelectView.swift
  ARtique/ARtique/Screen/Add/XibController/ExhibitionExplainView.swift
  ARtique/ARtique/Screen/Add/XibController/OrderView.swift
  ARtique/ARtique/Screen/Add/XibController/PostExplainView.swift
  ARtique/ARtique/Screen/Add/XibController/ThemeView.swift
  ARtique/Podfile
  ARtique/Podfile.lock
  ARtique/Pods/Manifest.lock
Labels: 🐞 Bug, 💡 Refactor, ☁️ 윤경

#67 Feat/#64 home network
  ARtique/ARtique.xcodeproj/project.pbxproj
  ARtique/ARtique/Global/Enum/CategoryType.swift
  ARtique/ARtique/Global/Extension/Date+.swift
  ARtique/ARtique/Global/Extension/String+.swift
  ARtique/ARtique/Global/Extension/UserDefaults+.swift
  ARtique/ARtique/Global/Struct/ExhibitionData.swift
  ARtique/ARtique/Network/APIManagers/HomeAPI.swift
  ARtique/ARtique/Network/APIModels/Models/Home/HomeModel.swift
  ARtique/ARtique/Network/APIModels/Models/Public/Artist.swift
  ARtique/ARtique/Network/APIModels/Models/Public/ExhibitionModel.swift
  ARtique/ARtique/Network/MoyaTarget/HomeListService.swift
  ARtique/ARtique/Screen/Home/Cell/CVC/HomeHorizontalCVC.swift
  ARtique/ARtique/Screen/Home/Cell/TVC/HomeHorizontalTVC.swift
  ARtique/ARtique/Screen/Home/Cell/TVC/HomeVerticalTVC.swift
  ARtique/ARtique/Screen/Home/Controller/DetailVC.swift
  ARtique/ARtique/Screen/Home/Controller/HomeListVC.swift
  ARtique/ARtique/Screen/Home/Controller/HomeVC.swift
  ARtique/ARtique/Screen/Home/Controller/SearchResultVC.swift
  ARtique/ARtique/Screen/Home/Storyboard/Detail.storyboard
  ARtique/ARtique/Screen/Home/Storyboard/HomeList.storyboard
  ARtique/ARtique/Screen/Mypage/Cell/TVC/MyExhibitionTVC.swift
  ARtique/ARtique/Screen/Mypage/Controller/MypageVC.swift
  ARtique/ARtique/Screen/Mypage/Storyboard/Mypage.storyboard
  ARtique/ARtique/Screen/Shared/ExhibitionCVC.swift
  ARtique/ARtique/Screen/Shared/ExhibitionCVC.xib
  ARtique/ARtique/Screen/Shared/ExhibitionListVC.swift
  ARtique/ARtique/Support/Assets.xcassets/BookMark_Selected.imageset/BookMark_Selected.png
  ARtique/ARtique/Support/Assets.xcassets/BookMark_UnSelected.imageset/BookMark_UnSelected.png
  ARtique/ARtique/Support/Assets.xcassets/DefaultPhoster.imageset/Contents.json
  ARtique/ARtique/Support/Assets.xcassets/DefaultPhoster.imageset/DefaultPhoster.png
  ARtique/ARtique/Support/Assets.xcassets/DefaultProfile.imageset/Contents.json
  ARtique/ARtique/Support/Assets.xcassets/DefaultProfile.imageset/DefaultProfile.png
  ARtique/ARtique/Support/Assets.xcassets/Like_Selected.imageset/Like_Selected.png
  ARtique/ARtique/Support/Assets.xcassets/Like_UnSelected.imageset/Like_UnSelected.png
  ARtique/Podfile
  ARtique/Podfile.lock
  ARtique/Pods/Manifest.lock
  ARtique/Pods/Pods.xcodeproj/project.pbxproj
  ARtique/Pods/Target Support Files/Pods-ARtique/Pods-ARtique-acknowledgements.markdown
  ARtique/Pods/Target Support Files/Pods-ARtique/Pods-ARtique-acknowledgements.plist
  ARtique/Pods/Target Support Files/Pods-ARtique/Pods-ARtique-frameworks-Debug-input-files.xcfilelist
  ARtique/Pods/Target Support Files/Pods-ARtique/Pods-ARtique-frameworks-Debug-output-files.xcfilelist
  ARtique/Pods/Target Support Files/Pods-ARtique/Pods-ARtique-frameworks-Release-input-files.xcfilelist
  ARtique/Pods/Target Support Files/Pods-ARtique/Pods-ARtique-frameworks-Release-output-files.xcfilelist
  ARtique/Pods/Target Support Files/Pods-ARtique/Pods-ARtique-frameworks.sh
  ARtique/Pods/Target Support Files/Pods-ARtique/Pods-ARtique.debug.xcconfig
  ARtique/Pods/Target Support Files/Pods-ARtique/Pods-ARtique.release.xcconfig
Labels: 📡 Network, 🍎 Feature, 🏠 홈탭, ☁️ 윤경

#68 [ISSUE] SceneKit의 SCNLights가 8개밖에 렌더링되지 않는 이슈 해결
  ARtique/ARtique/Screen/ARGallery/Controller/ARGalleryVC.swift
  ARtique/ARtique/art.scnassets/GalleryModel/1.obj
  ARtique/ARtique/art.scnassets/GalleryModel/maximumGallery.scn
  ARtique/ARtique/art.scnassets/GalleryModel/mediumGallery.scn
  ARtique/ARtique/art.scnassets/GalleryModel/minimumGallery.scn
Labels: ☁️ 지은, ⚡️ HotFix, AR🎮

#71 [FEAT] 전시 서버 연결
  ARtique/ARtique.xcodeproj/project.pbxproj
  ARtique/ARtique/Global/Enum/ExhibitionSortType.swift
  ARtique/ARtique/Network/APIManagers/ExhibitionDetailAPI.swift
  ARtique/ARtique/Network/APIManagers/HomeAPI.swift
  ARtique/ARtique/Network/APIModels/Models/Home/DetailModel.swift
  ARtique/ARtique/Network/APIModels/Models/Public/Artist.swift
  ARtique/ARtique/Network/MoyaTarget/ExhibitionService.swift
  ARtique/ARtique/Network/MoyaTarget/HomeListService.swift
  ARtique/ARtique/Screen/Home/Controller/DetailVC.swift
  ARtique/ARtique/Screen/Home/Controller/HomeListVC.swift
  ARtique/ARtique/Screen/Home/Controller/SearchResultVC.swift
  ARtique/ARtique/Screen/Home/Storyboard/Detail.storyboard
  ARtique/ARtique/Screen/Mypage/Controller/MypageVC.swift
  ARtique/ARtique/Screen/Shared/ExhibitionListVC.swift
Labels: 📡 Network, 🍎 Feature, 🏠 홈탭, ☁️ 윤경

#73 [FEAT] URL을 Image로 불러와 AR Scene의 작품 구성하기
  ARtique/ARtique.xcodeproj/project.pbxproj
  ARtique/ARtique/Screen/ARGallery/Controller/ARGalleryVC.swift
  ARtique/ARtique/art.scnassets/GalleryAsset/Default.png
  ARtique/ARtique/art.scnassets/GalleryModel/1.obj
  ARtique/ARtique/art.scnassets/GalleryModel/maximumGallery.scn
  ARtique/ARtique/art.scnassets/GalleryModel/mediumGallery.scn
  ARtique/ARtique/art.scnassets/GalleryModel/minimumGallery.scn
  ARtique/Pods/Pods.xcodeproj/project.pbxproj
  ARtique/Pods/Pods.xcodeproj/xcuserdata/hwangji.xcuserdatad/xcschemes/xcschememanagement.plist
Labels: 📡 Network, 🍎 Feature, ☁️ 지은, AR🎮, 🖼 전시뷰

#79 [FEAT] 티켓북 생성 기능 구현
  ARtique/ARtique/Global/Enum/AlertType.swift
  ARtique/ARtique/Screen/ARGallery/Controller/ARGalleryVC.swift
  ARtique/ARtique/Screen/Home/Controller/HomeVC.swift
  ARtique/ARtique/Screen/TicketBook/Cell/TicketCVC.swift
  ARtique/ARtique/Screen/TicketBook/Controller/TicketBookVC.swift
Labels: 📡 Network, 🍎 Feature, 💡 Refactor, ☁️ 지은

#81 [FEAT] ARGallery에 좋아요 기능 추가
  ARtique/ARtique.xcodeproj/project.pbxproj
  ARtique/ARtique/Network/APIManagers/PublicAPI.swift
  ARtique/ARtique/Network/APIModels/Models/Public/Bookmarked.swift
  ARtique/ARtique/Network/APIModels/Models/Public/Liked.swift
  ARtique/ARtique/Network/MoyaTarget/PublicService.swift
  ARtique/ARtique/Screen/ARGallery/Controller/ARGalleryVC.swift
  ARtique/ARtique/Screen/ARGallery/Controller/PlaneVC.swift
  ARtique/ARtique/Screen/ARGallery/Storyboard/ARGallery.storyboard
  ARtique/ARtique/Support/Assets.xcassets/black_heart.imageset/Contents.json
  ARtique/ARtique/Support/Assets.xcassets/black_heart.imageset/black_heart.png
  ARtique/ARtique/Support/Assets.xcassets/black_heart.imageset/black_heart@2x.png
  ARtique/ARtique/Support/Assets.xcassets/black_heart.imageset/black_heart@3x.png
  ARtique/ARtique/Support/Assets.xcassets/black_heart_selected.imageset/Contents.json
  ARtique/ARtique/Support/Assets.xcassets/black_heart_selected.imageset/black_heart_selected.png
  ARtique/ARtique/Support/Assets.xcassets/black_heart_selected.imageset/black_heart_selected@2x.png
  ARtique/ARtique/Support/Assets.xcassets/black_heart_selected.imageset/black_heart_selected@3x.png
  ARtique/ARtique/Support/Assets.xcassets/dismiss_white.imageset/Contents.json
  ARtique/ARtique/Support/Assets.xcassets/dismiss_white.imageset/dismiss_white.png
  ARtique/ARtique/Support/Assets.xcassets/dismiss_white.imageset/dismiss_white@2x.png
  ARtique/ARtique/Support/Assets.xcassets/dismiss_white.imageset/dismiss_white@3x.png
  ARtique/ARtique/Support/Assets.xcassets/white_heart.imageset/Contents.json
  ARtique/ARtique/Support/Assets.xcassets/white_heart.imageset/white_heart.png
  ARtique/ARtique/Support/Assets.xcassets/white_heart.imageset/white_heart@2x.png
  ARtique/ARtique/Support/Assets.xcassets/white_heart.imageset/white_heart@3x.png
  ARtique/ARtique/Support/Assets.xcassets/white_heart_selected.imageset/Contents.json
  ARtique/ARtique/Support/Assets.xcassets/white_heart_selected.imageset/white_heart_selected.png
  ARtique/ARtique/Support/Assets.xcassets/white_heart_selected.imageset/white_heart_selected@2x.png
  ARtique/ARtique/Support/Assets.xcassets/white_heart_selected.imageset/white_heart_selected@3x.png
Labels: 📡 Network, 📱 View, 🍎 Feature, ☁️ 지은, AR🎮

#82 [ADD] 디자인 및 코드 수정
  ARtique/ARtique.xcodeproj/project.pbxproj
  ARtique/ARtique/Global/Enum/AlertType.swift
  ARtique/ARtique/Global/Enum/PosterType.swift
  ARtique/ARtique/Global/Enum/ToastType.swift
  ARtique/ARtique/Global/Extension/NotificationCenter+.swift
  ARtique/ARtique/Global/Extension/UIScrollView+.swift
  ARtique/ARtique/Global/Extension/UIViewController+.swift
  ARtique/ARtique/Global/Struct/Identifiers.swift
  ARtique/ARtique/Network/APIManagers/RegisterAPI.swift
  ARtique/ARtique/Screen/ARGallery/Controller/ARGalleryVC.swift
  ARtique/ARtique/Screen/Add/Cell/CVC/AlbumTVC.xib
  ARtique/ARtique/Screen/Add/Cell/CVC/ArtworkExplainCVC.swift
  ARtique/ARtique/Screen/Add/Cell/CVC/ArtworkExplainCVC.xib
  ARtique/ARtique/Screen/Add/Cell/CVC/GalleryCVC.swift
  ARtique/ARtique/Screen/Add/Controller/AddExhibitionVC.swift
  ARtique/ARtique/Screen/Add/Controller/AlbumListTVC.swift
  ARtique/ARtique/Screen/Add/Storyboard/AlbumListTVC.storyboard
  ARtique/ARtique/Screen/Add/Xib/ExhibitionExplainView.xib
  ARtique/ARtique/Screen/Add/XibController/ArtworkSelectView.swift
  ARtique/ARtique/Screen/Add/XibController/ExhibitionExplainView.swift
  ARtique/ARtique/Screen/Add/XibController/PostExplainView.swift
  ARtique/ARtique/Screen/Home/Controller/DetailVC.swift
  ARtique/ARtique/Screen/Home/Controller/ReorderBottomSheetVC.swift
  ARtique/ARtique/Screen/Phoster/PosterTheme.swift
  ARtique/ARtique/Screen/Shared/Alert.storyboard
  ARtique/ARtique/Screen/Shared/AlertVC.swift
  ARtique/ARtique/Screen/Shared/ExhibitionListVC.swift
  ARtique/ARtique/Screen/Shared/ToastView.swift
  ARtique/ARtique/Screen/Shared/ToastView.xib
  ARtique/ARtique/Support/Assets.xcassets/PosterCellOverlay/cellTemplate1.imageset/cellTemplate1.png
  ARtique/ARtique/Support/Assets.xcassets/PosterCellOverlay/cellTemplate10.imageset/cellTemplate10.png
  ARtique/ARtique/Support/Assets.xcassets/PosterCellOverlay/cellTemplate11.imageset/cellTemplate11.png
  ARtique/ARtique/Support/Assets.xcassets/PosterCellOverlay/cellTemplate12.imageset/cellTemplate12.png
  ARtique/ARtique/Support/Assets.xcassets/PosterCellOverlay/cellTemplate2.imageset/cellTemplate2.png
  ARtique/ARtique/Support/Assets.xcassets/PosterCellOverlay/cellTemplate3.imageset/cellTemplate3.png
  ARtique/ARtique/Support/Assets.xcassets/PosterCellOverlay/cellTemplate4.imageset/cellTemplate4.png
  ARtique/ARtique/Support/Assets.xcassets/PosterCellOverlay/cellTemplate5.imageset/cellTemplate5.png
  ARtique/ARtique/Support/Assets.xcassets/PosterCellOverlay/cellTemplate6.imageset/cellTemplate6.png
  ARtique/ARtique/Support/Assets.xcassets/PosterCellOverlay/cellTemplate7.imageset/cellTemplate7.png
  ARtique/ARtique/Support/Assets.xcassets/PosterCellOverlay/cellTemplate8.imageset/cellTemplate8.png
  ARtique/ARtique/Support/Assets.xcassets/PosterCellOverlay/cellTemplate9.imageset/cellTemplate9.png
  ARtique/ARtique/Support/Assets.xcassets/PosterOverlay/template1.imageset/Contents.json
  ARtique/ARtique/Support/Assets.xcassets/PosterOverlay/template1.imageset/template1.png
  ARtique/ARtique/Support/Assets.xcassets/PosterOverlay/template10.imageset/template10.png
  ARtique/ARtique/Support/Assets.xcassets/PosterOverlay/template11.imageset/template11.png
  ARtique/ARtique/Support/Assets.xcassets/PosterOverlay/template12.imageset/template12.png
  ARtique/ARtique/Support/Assets.xcassets/PosterOverlay/template2.imageset/Contents.json
  ARtique/ARtique/Support/Assets.xcassets/PosterOverlay/template2.imageset/template2.png
  ARtique/ARtique/Support/Assets.xcassets/PosterOverlay/template3.imageset/template3.png
  ARtique/ARtique/Support/Assets.xcassets/PosterOverlay/template4.imageset/template4.png
  ARtique/ARtique/Support/Assets.xcassets/PosterOverlay/template5.imageset/template5.png
  ARtique/ARtique/Support/Assets.xcassets/PosterOverlay/template6.imageset/template6.png
  ARtique/ARtique/Support/Assets.xcassets/PosterOverlay/template7.imageset/template7.png
  ARtique/ARtique/Support/Assets.xcassets/PosterOverlay/template8.imageset/template8.png
  ARtique/ARtique/Support/Assets.xcassets/PosterOverlay/template9.imageset/template9.png
Labels: 📱 View, 💡 Refactor, ☁️ 윤경

#84 [FEAT] artist profile network
  ARtique/ARtique.xcodeproj/project.pbxproj
  ARtique/ARtique/Network/APIManagers/MypageAPI.swift
  ARtique/ARtique/Network/APIModels/Models/Mypage/ArtistModel.swift
  ARtique/ARtique/Network/APIModels/Models/Mypage/ArtistProfileModel.swift
  ARtique/ARtique/Network/MoyaTarget/MypageService.swift
  ARtique/ARtique/Screen/Mypage/Controller/ProfileEditVC.swift
  ARtique/ARtique/Screen/Mypage/Storyboard/ProfileEdit.storyboard
Labels: 📡 Network, 📱 View, 🍎 Feature, ☁️ 윤경, 🤗 마이페이지탭

#86 [ADD]: 스플래시 뷰 애니메이션 추가
  ARtique/ARtique.xcodeproj/project.pbxproj
  ARtique/ARtique/Global/Base.lproj/LaunchScreen.storyboard
  ARtique/ARtique/Screen/Splash/Base.lproj/LaunchScreen.storyboard
  ARtique/ARtique/Screen/Splash/SplashVC.swift
  ARtique/ARtique/Screen/Splash/ko.lproj/LaunchScreen.strings
  ARtique/ARtique/Screen/Splash/splash.json
  ARtique/ARtique/Support/AppDelegate.swift
  ARtique/Podfile
  ARtique/Podfile.lock
  ARtique/Pods/Manifest.lock
  ARtique/Pods/Pods.xcodeproj/project.pbxproj
  ARtique/Pods/Target Support Files/Pods-ARtique/Pods-ARtique-acknowledgements.markdown
  ARtique/Pods/Target Support Files/Pods-ARtique/Pods-ARtique-acknowledgements.plist
  ARtique/Pods/Target Support Files/Pods-ARtique/Pods-ARtique-frameworks-Debug-input-files.xcfilelist
  ARtique/Pods/Target Support Files/Pods-ARtique/Pods-ARtique-frameworks-Debug-output-files.xcfilelist
  ARtique/Pods/Target Support Files/Pods-ARtique/Pods-ARtique-frameworks-Release-input-files.xcfilelist
  ARtique/Pods/Target Support Files/Pods-ARtique/Pods-ARtique-frameworks-Release-output-files.xcfilelist
  ARtique/Pods/Target Support Files/Pods-ARtique/Pods-ARtique-frameworks.sh
  ARtique/Pods/Target Support Files/Pods-ARtique/Pods-ARtique.debug.xcconfig
  ARtique/Pods/Target Support Files/Pods-ARtique/Pods-ARtique.release.xcconfig
Labels: 📱 View, 🍎 Feature, ☁️ 윤경

#88 [CHORE] 발표 전후 수정사항 반영
  ARtique/ARtique/Screen/ARGallery/Controller/PlaneVC.swift
  ARtique/ARtique/Screen/ARGallery/Storyboard/ARGallery.storyboard
  ARtique/ARtique/Screen/Add/Cell/CVC/AlbumTVC.swift
  ARtique/ARtique/Screen/Add/Storyboard/AlbumListTVC.storyboard
  ARtique/ARtique/Screen/Add/XibController/ArtworkSelectView.swift
  ARtique/ARtique/Screen/Home/Controller/DetailVC.swift
  ARtique/ARtique/Screen/Shared/ExhibitionListVC.swift
  ARtique/ARtique/Screen/TicketBook/Controller/TicketBookVC.swift
  ARtique/ARtique/Support/Assets.xcassets/goToExhibitionBtn.imageset/Contents.json
  ARtique/ARtique/Support/Assets.xcassets/goToExhibitionBtn.imageset/goToExhibitionBtn.png
Labels: 📱 View, 💡 Refactor, 🏠 홈탭, ☁️ 윤경, ✏️ 작성하기탭, 🤗 마이페이지탭, AR🎮

#92 [FEAT] mypage network
  ARtique/ARtique.xcodeproj/project.pbxproj
  ARtique/ARtique/Global/Class/BaseVC.swift
  ARtique/ARtique/Network/APIManagers/MypageAPI.swift
  ARtique/ARtique/Network/APIModels/Models/Mypage/ArtistProfileModel.swift
  ARtique/ARtique/Network/APIModels/Models/Mypage/MypageModel.swift
  ARtique/ARtique/Network/MoyaTarget/MypageService.swift
  ARtique/ARtique/Screen/Home/Controller/DetailVC.swift
  ARtique/ARtique/Screen/Mypage/Controller/MypageVC.swift
  ARtique/ARtique/Screen/Mypage/Controller/ProfileEditVC.swift
  ARtique/ARtique/Screen/Mypage/Storyboard/Mypage.storyboard
  ARtique/ARtique/Screen/Shared/ExhibitionListVC.swift
  ARtique/ARtique/Screen/Shared/ProfileImageVC.swift
Labels: 📡 Network, 🍎 Feature, ☁️ 윤경, 🤗 마이페이지탭
